body {
    font-family: 'Arima', cursive;
    margin: 0;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 33px;
}

.coloring {
    color: blue;
}

section {
    display: flex;
    margin-bottom: 100px;
}

.aligning {
    width: 50%;
    padding: 3%;

}

.aligning img {
    width: 90%;
}

.link-button {
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    background-image: linear-gradient(orange, orangered);
    font-weight: 700;
    border-radius: 5px;

}

.first {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.second {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 350px;
}